
@using TravelBuddy.HelperModels
@model UserDashboard

<h1>Hello @Model.UserName</h1>


<h2>Your Trips</h2>
@foreach (var t in @Model.AllTrips)
{
  <h3 class="trips"><a href="showdays/@t.TripId">@t.TripName</a></h3>
  <p class="roomname" data="mean"></p>
}
<br>


<br>
<br>

<span class="addTripForm" class="btn btn-primary">Add a Trip</span>
<div class="addTrip">
  <form action="/createtrip" method="post" class="createTrip">
    <label asp-for="TripName">Name Your Trip</label>
    <input asp-for="TripName">
    <span asp-validation-for="TripName"></span>
    <label asp-for="StartDate" >Start Date</label>
    <input asp-for="StartDate" type="date">
    <span asp-validation-for="StartDate"></span>
    <label asp-for="EndDate">End Date</label>
    <input asp-for="EndDate" type="date">
    <span asp-validation-for="EndDate"></span>
    <input type="button" Value="Add Trip" class="submit-trip btn btn-success" >
  </form>
</div>

