@using TravelBuddy.Models
@model LoginUser
<form asp-action="LoginUser" asp-controller="LoginReg" method="post" class="form-horizontal">
  <h3 class="LoginHeader">Login Here!</h3>
    <div class="form-group">
        <label asp-for="LoginEmail" class="col-md-8 control-label"></label>
        <div class="col-md-8">
          <input asp-for="LoginEmail" class="form-control col-md-8" aria-describedby="emailHelp">
          <span asp-validation-for="LoginEmail" class="alert-danger" role="alert"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LoginPassword" class="col-md-8 control-label"></label>
        <div class="col-md-8">
          <input asp-for="LoginPassword" class="form-control col-md-8" aria-describedby="emailHelp">
          <span asp-validation-for="LoginPassword" class="alert-danger" role="alert"></span>
        </div>       
    </div>  
    <button type="submit" class="btn btn-success">Login</button>
</form>