@using TravelBuddy.Models
@model RoadTrip
      <form method="post" asp-action="createroadtrip" asp-contorller="RoadTrip">  
        <label asp-for="DepartingCity"></label>
        <input asp-for="DepartingCity">

        <label asp-for="DepartingState"></label>
        <input asp-for="DepartingState">

        <label asp-for="DestinationCity"></label>
        <input asp-for="DestinationCity">

        <label asp-for="DestinationState"></label>
        <input asp-for="DestinationState">

        <label asp-for="StartDateTime"></label>
        <input asp-for="StartDateTime">

        <input type="hidden" asp-for="DayId" value="">        
    </form>