<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link btn btn-info" href="/userdashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=""></a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info" href="/logout">Log Out</a>
    </li>
</ul>